@model List<DREA.Modelo.Usuario>


<p>    
    <a href="@Url.Action("Create","Usuario")" class="btn btn-sm btn-indigo">Nuevo Usuario</a>
</p>


<section>

    <div class="card">
        <div class="card-body">

            <!--Table-->
            <table class="table table-hover">

                <!--Table head-->
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Clave</th>
                        <th>Rol</th>
                        <th>Estado</th>
                    </tr>
                </thead>
                <!--Table head-->
                <!--Table body-->
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <th scope="row">@item.UsuarioId</th>
                        <td>@item.Nombre</td>
                        <td>@item.Clave</td>
                        <td>@item.Rol</td>
                        <td>@item.Estado</td>
                        <td>
                            <a href="@Url.Action("Edit","Usuario",new { id = item.UsuarioId })" class="btn btn-sm btn-indigo">Editar</a>

                            
                        </td>
                    </tr>
                    }                   
                    
                </tbody>
                <!--Table body-->
            </table>
            <!--Table-->

        </div>
    </div>

</section>
